<% include layouts/header.ejs %>

<main class="main">
    <div class="container">
        <div class="content">
            <div class="post">
                <div class="top">
                    <h2>Title</h2>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet impedit iure, molestiae rem temporibus veritatis voluptas? Delectus deleniti dignissimos doloremque, magni molestias nostrum repellat ut. Aut cumque delectus distinctio doloremque doloribus, et eum ipsum nesciunt perferendis quo quos repellat ut, vitae? Adipisci consequuntur eligendi eos nemo obcaecati recusandae soluta!</p>
                </div>
                <div class="bottom">
                    <div class="author">
                        Author:
                        <a href="#">Author</a>
                    </div>
                    <a href="#">Comments</a>
                </div>
            </div>
            <div class="post">
                <div class="top">
                    <h2>Title</h2>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet impedit iure, molestiae rem temporibus veritatis voluptas? Delectus deleniti dignissimos doloremque, magni molestias nostrum repellat ut. Aut cumque delectus distinctio doloremque doloribus, et eum ipsum nesciunt perferendis quo quos repellat ut, vitae? Adipisci consequuntur eligendi eos nemo obcaecati recusandae soluta!</p>
                </div>
                <div class="bottom">
                    <div class="author">
                        Author:
                        <a href="#">Author</a>
                    </div>
                    <a href="#">Comments</a>
                </div>
            </div>
            <div class="post">
                <div class="top">
                    <h2>Title</h2>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet impedit iure, molestiae rem temporibus veritatis voluptas? Delectus deleniti dignissimos doloremque, magni molestias nostrum repellat ut. Aut cumque delectus distinctio doloremque doloribus, et eum ipsum nesciunt perferendis quo quos repellat ut, vitae? Adipisci consequuntur eligendi eos nemo obcaecati recusandae soluta!</p>
                </div>
                <div class="bottom">
                    <div class="author">
                        Author:
                        <a href="#">Author</a>
                    </div>
                    <a href="#">Comments</a>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="box auth">
                <h2>Log In</h2>
                <form action="#" method="post">
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" id="login" name="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                    </div>

                    <button class="login-button">Log In</button>
                </form>
            </div>
            <div class="box">box 2</div>
        </div>
    </div>
</main>

<% include layouts/footer.ejs %>
